{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Log In{% endblock title %}

{% block content %}
    <div class="container">
        <div class="panel panel-default">
            <div class="panel-heading"><h3 class="panel-title"><strong>Sign In </strong></h3></div>
            <div class="panel-body">

                <form method="post" class="from-group">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <p>Don't have an account? Create one <a href="{% url 'signup' %}">here</a></p>
                    <button type="submit" class="btn btn-success">Login</button>
                </form>

            </div>
        </div>
    </div>

{% endblock content %}