{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}

    <div class="container">
        <div class="panel panel-default">
            <div class="panel-heading"><h3 class="panel-title"><strong>User Info</strong></h3></div>
            <div class="panel-body">
                <form method="post">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <button class="btn btn-success" type="submit">Save Changes</button>
                </form>
            </div>
        </div>
    </div>

    {% if messages %}
        {% for message in messages %}
            {% if message.level == DEFAULT_MESSAGE_LEVELS.INFO %}
                <div class="alert alert-info">
                    <strong>Info: </strong>{{ message }}
                </div>
            {% endif %}

            {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                <div class="alert alert-danger">
                    <strong>Error: </strong>{{ message }}
                </div>
            {% endif %}

            {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
                <div class="alert alert-success">
                    <strong>Success: </strong>{{ message }}
                </div>
            {% endif %}
        {% endfor %}
    {% endif %}
{% endblock %}