{% load crispy_forms_tags %}

<div id="CreateCommentForm" class="modal fade">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title">Create Comment</h1>
            </div>
            <div class="modal-body">
                <form class="modal-form" method="POST">
                    {% csrf_token %}
                    <div class="form-group">
                        {{ form| crispy }}
                    </div>
                    <button class="btn btn-success" type="submit">Create</button>
                </form>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->