{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}


    <div class="progress-bar-wrapper"></div>

    <div class="input-panel">
        <a class="btn btn-primary btn-lg open-modal" data-modal="CreateCommentForm"
           data-url="{% url 'comment_create' %}">
            Add Comment
        </a>
    </div>


    <div class="panel panel-default ">
        <div class="panel-heading"><h3 class="panel-title"><strong>Comment List </strong></h3></div>
        <div class="panel-body">
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead class="thead-dark">
                    <tr>
                        <th>Title</th>
                        <th>Comment</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for comment in comment_list %}
                        <tr>
                            <td>{{ comment.name }}</td>
                            <td class="text"><span>{{ comment.body }}</span></td>
                            <td>
                                <input style="float: left; margin: 5px;" class="btn btn-sm btn-default open-modal"
                                       type="submit"
                                       value="Edit" data-modal="UpdateCommentForm"
                                       data-url="{% url 'comment_update' comment.pk %}"/>
                                <form style="float: left;" class="form" action="{% url 'comment_delete' comment.pk %}"
                                      method="POST">
                                    {% csrf_token %}
                                    <input style="float: left;  margin: 5px;" class="btn btn-sm btn-danger"
                                           type="submit" value="Delete"
                                           onclick="return confirm('Are you sure you want to delete?')"/>
                                </form>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>


    <div class="input-panel">
        <form style="float: right;" class="form" action="{% url 'scenario_search' %}"
              method="GET">
            <input style="float: left;  margin: 5px;" class="btn btn-lg btn-primary"
                   type="submit" value="Next"
                   onclick="return confirm('Are you sure you want to proceed?')"/>
        </form>
    </div>

    <!-- Here we create this empty div for inserting modal -->
    <div id="modal-div"></div>


    <script>
        //we can set animation delay as following in ms (default 1000)
        ProgressBar.singleStepAnimation = 500;
        ProgressBar.init(
            ['Create Project',
                'Add Comments',
                'Create Scenario',
                'Add Assets',
                'Run Simulation',
            ],
            'Add Comments',
            'progress-bar-wrapper' // created this optional parameter for container name (otherwise default container created)
        );
    </script>

    <script>
        //modalData holds id of html form
        var modalDiv = $("#modal-div");


        $(".open-modal").on("click", function () {
            var modalUrl = $(this).data("url")
            var modalName = $(this).data("modal")
            $.ajax({
                url: modalUrl,
                success: function (data) {
                    modalDiv.html(data);
                    $(".modal-form").attr("action", modalUrl)
                    $('#' + modalName).modal();
                }
            });
        });

    </script>

{% endblock %}