{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block start_body_scripts %}
    <script src="https://cdn.jsdelivr.net/gh/jerosoler/Drawflow/dist/drawflow.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/jerosoler/Drawflow/dist/drawflow.min.css">
    <link rel="stylesheet" type="text/css" href="/static/css/beautiful.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" integrity="sha256-h20CPZ0QyXlBuAw7A+KluUYx/3pK+c7lYEpqLTlxjYQ=" crossorigin="anonymous" />
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
{% endblock start_body_scripts %}

{% block topology %}
  <div class="wrapper">

      <div class="col">
          <div class="drag-drawflow" draggable="true" ondragstart="drag(event)" data-node="source">
              <p class="m-b-20">Add new Energy Source</p>
              <h2 class="text-center"><i class="fa fa-wind f-left"></i><span>486</span></h2>
          </div>
          <div class="drag-drawflow" draggable="true" ondragstart="drag(event)" data-node="transformer">
              <i class="fas fa-code"></i><span> Transformer</span>
          </div>
      </div>

    <div class="col-right">
      <div class="menu">
        <ul><li onclick="editor.changeModule('Home'); changeModule(event);" class="selected">Topology</li></ul>
      </div>

      <div id="drawflow" ondrop="drop(event)" ondragover="allowDrop(event)">
        <div class="btn-export" onclick="Swal.fire({
          title: 'Export',
          html: JSON.stringify(editor.export())
          })">Export</div>
        <div class="btn-clear" onclick="editor.clearModuleSelected()">Clear</div>
      </div>
    </div>
  </div>

{% endblock topology %}

{% block end_body_scripts %}
  <script>
    // Initialize
    var id = document.getElementById("drawflow");
    const editor = new Drawflow(id);
    editor.reroute = true;
    editor.start();


    /* Mouse and Touch Actions */
    var elements = document.getElementsByClassName('drag-drawflow');
    for (var i = 0; i < elements.length; i++) {
      elements[i].addEventListener('touchend', drop, false);
      elements[i].addEventListener('touchmove', positionMobile, false);
      elements[i].addEventListener('touchstart', drag, false );
    }

    var mobile_item_selec = '';
    var mobile_last_move = null;
   function positionMobile(ev) {
     mobile_last_move = event;
   }

   function allowDrop(ev) {
      ev.preventDefault();
    }

    function drag(ev) {
      if (ev.type === "touchstart") {
        mobile_item_selec = ev.target.closest(".drag-drawflow").getAttribute('data-node');
      } else {
      ev.dataTransfer.setData("node", ev.target.getAttribute('data-node'));
      }
    }

    function drop(ev) {
      if (ev.type === "touchend") {
        var parentdrawflow = document.elementFromPoint( mobile_last_move.touches[0].clientX, mobile_last_move.touches[0].clientY).closest("#drawflow");
        if(parentdrawflow != null) {
          addNodeToDrawFlow(mobile_item_selec, mobile_last_move.touches[0].clientX, mobile_last_move.touches[0].clientY);
        }
        mobile_item_selec = '';
      } else {
        ev.preventDefault();
        var data = ev.dataTransfer.getData("node");
        addNodeToDrawFlow(data, ev.clientX, ev.clientY);
      }

    }



    ////////////////////////////
var data = { "name": 'GEORGE' };
var html = document.createElement("div");
html.className = 'title-box';
html.innerHTML = `
              <div class="title-box"><i class="fas fa-code"></i><span>Transformer</span></div>
              <div class="box"><textarea df-template></textarea></div>
              `;
editor.registerNode('test', html);
// Use
editor.addNode('github', 0, 1, 150, 300, 'github', data, 'test', true);
//////////////////////////////////////



    function addNodeToDrawFlow(name, pos_x, pos_y) {
      if(editor.editor_mode === 'fixed') {
        return false;
      }
      pos_x = pos_x * ( editor.precanvas.clientWidth / (editor.precanvas.clientWidth * editor.zoom)) - (editor.precanvas.getBoundingClientRect().x * ( editor.precanvas.clientWidth / (editor.precanvas.clientWidth * editor.zoom)));
      pos_y = pos_y * ( editor.precanvas.clientHeight / (editor.precanvas.clientHeight * editor.zoom)) - (editor.precanvas.getBoundingClientRect().y * ( editor.precanvas.clientHeight / (editor.precanvas.clientHeight * editor.zoom)));


      switch (name) {
        case 'source':
        var energy_source = `<div class="title-box"><i class="fa fa-wind"></i>Energy Source</div>`;
          editor.addNode('source', 0,  1, pos_x, pos_y, 'source', {}, energy_source );
          break;

          case 'transformer':
            var template = `
                          <div>
                            <div class="title-box"><i class="fas fa-code"></i><span>Transformer1</span></div>
                            <div class="box"><textarea df-template>Text</textarea>dsfsdfsdfsdfsdfsdfd</div>
                          </div>
                          `;
            editor.addNode('template', 1, 1, pos_x, pos_y, 'transformer', { "transformer": 'Write your template'}, template );
            break;
        default:
      }
    }
  </script>

{% endblock end_body_scripts %}