{% extends 'base.html' %}
{% load custom_filters %}

{% block head_block %}
<link rel="stylesheet" href="/static/css/user-ranking-stars.css"/>
{% endblock head_block %}

{% load crispy_forms_tags %}

{% block content %}
<style>


    @media screen and (max-width: 990px) {
        .btn-danger {

            width: 90% !important;
            font-size: 80%;


        }

        .btn-default {


            font-size: 80%;


        }



        .rate:not(:checked) > label {
            font-size: 18px;
        }

        tr {
            font-size: 80%;
        }

        #titleproj, #titlecoms {
            font-size: 23px !important;
        }

        #button55 {
            width: 70%;
            font-size: 70% !important;
            padding: 1em;
        }

        #lo {

            font-size: 12px !important;

        }

        .tab button, .tab button.active {
            font-size: 70%;
        }
        .dropdown-menu > li > a{
            font-size: 80%;
        }
    }

    @media screen and (max-width: 690px) {
        .rate:not(:checked) > label {
            font-size: 14px;
        }
    }
    @media screen and (max-width: 768px) {
        .modal-content{
            width: 350px!important;


        }
        .requiredField{
            font-size: 12px !important;
        }
        .form-control{
            font-size:10px !important;
        }
        .modal-title{
            font-size: 25px !important;
        }
        #div_id_file{
            font-size: 13px !important;
        }
    }
</style>
<br>
<button onclick="goBack()" id="backbutton"><span class="glyphicon glyphicon-chevron-left"></span> Back</button>

<script>

    function goBack() {
        window.history.back();
    }
</script>
<br>
<br>
<h1 style="text-align: center" id="titlee">Project Overview</h1>
<!-- region Project Scenarios List -->
<a class="open-modal" data-modal="CreateScenarioModal" style="visibility: hidden">Add Scenario</a>
<br>
<br>
<div class="container5">
    <div class="tab">
        <button class="tablinks" onclick="tabSelect(event, 'Project Scenarios')" id="defaultOpen">Project Scenarios
        </button>
        <button class="tablinks" onclick="tabSelect(event, 'Project Comments')">Project Comments</button>

    </div>

    <div id="Project Scenarios" class="tabcontent">


        <div class="panel panel-default " id="scen">
            <br>
            <div class="panel-heading"><h2 class="panel-title" style="text-align: center" id="titleproj"><strong>Project
                Scenarios </strong></h2></div>
            <br>
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead class="thead-dark">
                        <tr style="text-transform: uppercase;">
                            <th>&emsp;&emsp;</th>
                            <th>Name</th>
                            <th>Start Date</th>
                            <th>State</th>
                            <th>User Ranking</th>
                            <th>Progress</th>
                        </tr>
                        </thead>
                        <tbody>

                        {% for simulation in simulations_list %}
                        <tr class="table-row">
                            <td>
                                <!-- Create the configuration glyphicon and the dropdown menu choices. -->
                                <div class="dropdown" style="float: left; width:50px; margin: 13px 0px;">
                                    <a href="#" data-toggle="dropdown">
                                                <span class="glyphicon glyphicon-cog"
                                                      style="font-size: 120%;  color:#E3AC37; text-shadow: 1px 1px 1px #222;"></span>
                                    </a>
                                    <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenuButton">
                                        <li role="presentation"
                                            style="opacity: 0.8;  font-family: Century Gothic; font-size: 18px;">
                                            <a role="menuitem" tabindex="1" class="glyphicon glyphicon-search"
                                               href="{% url 'scenario_view' simulation.scenario.pk %}" name="View">
                                                Info</a>
                                        </li>
                                        <li role="presentation"
                                            style="opacity: 0.8; font-family: Century Gothic; font-size: 18px;">
                                            <a role="menuitem" tabindex="1" class="glyphicon glyphicon-eye-open"
                                               style="display: {% if simulation.status == 'DONE' %}block{% else %}none{% endif %}" name="visualizeResults"
                                               href="{% url 'scenario_visualize_results' simulation.scenario.pk %}">
                                                Visualize-Results</a>
                                        </li>
                                        <li role="presentation"
                                            style="opacity: 0.8;  font-family: Century Gothic; font-size: 18px;">
                                            <a role="menuitem" class="glyphicon glyphicon-picture"
                                               href="{% url 'new_assets_topology' simulation.scenario.pk %}"
                                               name="GridView">
                                                Grid-Model</a>
                                        </li>
                                        <li role="presentation"
                                            style=" opacity: 0.8;  font-family: Century Gothic; font-size: 18px;">
                                            <a role="menuitem" class="glyphicon glyphicon-random"
                                               name="Simulation"
                                               onclick="request_mvs_simulation(this, {{ simulation.scenario.pk }})">
                                                Simulate</a>
                                        </li>
                                        <li role="presentation" class="divider"></li>
                                        <li role="presentation"
                                            style="opacity: 0.8;  font-family: Century Gothic; font-size: 18px;">
                                            <a role="menuitem" tabindex="1"
                                               class="glyphicon glyphicon-duplicate"
                                               href="{% url 'scenario_duplicate' simulation.scenario.pk %}"
                                               name="Duplicate">
                                                Create-a-Copy</a>
                                        </li>
                                        <li role="presentation"
                                            style="opacity: 0.8;  font-family: Century Gothic; font-size: 18px;">
                                            <a role="menuitem" tabindex="-1" href="#">
                                                <form style="float: left;" class="form"
                                                      action="{% url 'scenario_delete' simulation.scenario.pk %}"
                                                      method="POST">
                                                    {% csrf_token %}
                                                    <label style="float: left;  margin: 5px;">
                                                        <span class="glyphicon glyphicon-trash"> Remove</span>
                                                        <input style="display: none"
                                                               class="btn btn-sm btn-danger"
                                                               type="submit" value="Delete"
                                                               onclick="return confirm('Are you sure you want to delete?')"/>
                                                    </label>
                                                </form>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </td>
                            <td class="text"><span><b>{{ simulation.scenario.name }}</b></span></td>
                            <td class="text"><span>{{ simulation.scenario.start_date }}</span></td>
                            <td class="text"><span class="State">{% if simulation.status %} {{ simulation.status }} {% else %} Not Started {% endif %}</span></td>
                            <td class="text">
                                <div class="rate" style="display: {% if simulation.status == 'DONE' %}block{% else %}none{% endif %};" onchange="updateSimulationRating(this, {{ simulation.scenario.pk }})">
                                    <input type="radio" id="star5" name="rate" value="5" {% if simulation.user_rating == 5 %}checked{% endif %}/>
                                    <label for="star5" title="5stars">5 stars</label>
                                    <input type="radio" id="star4" name="rate" value="4" {% if simulation.user_rating == 4 %}checked{% endif %}/>
                                    <label for="star4" title="4stars">4 stars</label>
                                    <input type="radio" id="star3" name="rate" value="3" {% if simulation.user_rating == 3 %}checked{% endif %}/>
                                    <label for="star3" title="3stars">3 stars</label>
                                    <input type="radio" id="star2" name="rate" value="2"{% if simulation.user_rating == 2 %}checked{% endif %}/>
                                    <label for="star2" title="2stars">2 stars</label>
                                    <input type="radio" id="star1" name="rate" value="1"{% if simulation.user_rating == 1 %}checked{% endif %}/>
                                    <label for="star1" title="1star">1 star</label>
                                </div>
                            </td>
                            <td class="text"><span class="Progress">{% if simulation.elapsed_seconds %} {{ simulation.elapsed_seconds | beautiful_seconds }} {% else %} Not Started {% endif %}</span></td>
                        </tr>
                        {% endfor %}

                    </table>
                </div>
                <br>
                <div class="row">
                    <div class="col-sm-2"></div>
                    <div class="col-sm-3">
                        <a class="glyphicon glyphicon-plus open-comments-modal" style="color: transparent;"
                           data-modal="CreateScenarioModal" data-url="{% url 'scenario_create' %}"><span
                                id="button55">Create New Scenario</span></a>
                    </div>

                    <div class="col-sm-2"></div>
                    <div class="col-sm-4">
                        <a class="glyphicon glyphicon-upload" style="color: transparent;" id="upload-scenario"><span
                                id="button55">Upload Scenario From File</span></a>
                    </div>
                    <div class="col-sm-1"></div>
                </div>
            </div>

        </div>
    </div>
    <!-- </div> -->

    <!-- endregion -->

    <!-- region Project Comments List -->
    <div id="Project Comments" class="tabcontent">
        <div class="panel panel-default " id="comms">
            <br>
            <div class="panel-heading"><h2 class="panel-title" style="text-align: center" id="titlecoms"><strong>Project
                Comments </strong>
            </h2></div>
            <br>
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead class="thead-dark">
                        <tr style="text-transform: uppercase;">
                            <th>&emsp;&emsp;</th>
                            <th>Title</th>
                            <th>Comment</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for comment in comment_list %}
                        <tr>
                            <td>
                                <!-- leave empty -->
                            </td>
                            <td><b>{{ comment.name }}</b></td>
                            <td class="text"><span>{{ comment.body }}</span></td>
                            <td>
                                <input style="float: left; margin: 5px;"
                                       class="btn btn-sm btn-default open-comments-modal"
                                       type="submit"
                                       value="Edit" data-modal="UpdateCommentForm"
                                       data-url="{% url 'comment_update' comment.pk %}"/>
                                <form style="float: left;" class="form"
                                      action="{% url 'comment_delete' comment.pk %}"
                                      method="POST">
                                    {% csrf_token %}
                                    <input style="float: left;  margin: 5px;" class="btn btn-sm btn-danger"
                                           type="submit" value="Delete"
                                           onclick="return confirm('Are you sure you want to delete?')"/>
                                </form>
                            </td>
                        </tr>
                        {% endfor %}

                        </tbody>
                    </table>
                </div>
                <br>

                <div class="row">
                    <div class="col-sm-4"></div>
                    <div class="col-sm-4">
                        <a class="glyphicon glyphicon-plus open-comments-modal"
                           style="color: transparent; text-shadow: 1px 1px 1px #222;"
                           data-modal="CreateCommentForm" data-url="{% url 'comment_create' %}"
                           id="button55"><span id="lo">Add Comment</span></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- endregion -->
</div>

<div class=" modal fade" tabindex="-1" role="dialog" id="modal">
    <div class="modal-dialog" role="document">
        <div class="modal-content"></div>
    </div>
</div>

<!-- Create empty div for the modal -->
<div id="modal-div"></div>
{% endblock %}

{% block end_body_scripts %}

<script type="text/javascript">
    $(document).ready(function () {
        $("#upload-scenario").modalForm({
            formURL: "{% url 'scenario_upload' %}"
        });
    });
</script>

<script>
    function tabSelect(evt, tabName) {

        var i, tabcontent, tablinks;
        tabcontent = document.getElementsByClassName("tabcontent");
        for (i = 0; i < tabcontent.length; i++) {
            tabcontent[i].style.display = "none";
        }
        tablinks = document.getElementsByClassName("tablinks");
        for (i = 0; i < tablinks.length; i++) {
            tablinks[i].className = tablinks[i].className.replace(" active", "");
        }
        document.getElementById(tabName).style.display = "block";
        evt.currentTarget.className += " active";
    }
</script>


<script>
    //modalData holds id of html form
    var modalDiv = $("#modal-div");
    var modalName = $(".open-modal").data("modal")

    $(".open-modal").on("click", function () {
        $.ajax({
            url: "{% url 'scenario_create' %}",
            success: function (data) {
                modalDiv.html(data);
                console.log(modalDiv);
                $('#' + modalName).modal();
            }
        });
    });
</script>

<script>
    //modalData holds id of html form
    var modalDiv = $("#modal-div");

    $(".open-comments-modal").on("click", function () {
        var modalUrl = $(this).data("url")
        var modalName = $(this).data("modal")
        $.ajax({
            url: modalUrl,
            success: function (data) {
                modalDiv.html(data);
                $(".modal-form").attr("action", modalUrl)
                $('#' + modalName).modal();
            }
        });
    });

</script>

<script>
    (function () {
        var dropdownMenu;
        // show it and move it to the body
        $(window).on('show.bs.dropdown', function (e) {
            // grab the menu
            dropdownMenu = $(e.target).find('.dropdown-menu');
            // detach it and append it to the body
            $('body').append(dropdownMenu.detach());
            // grab the new offset position
            var eOffset = $(e.target).offset();
            // make sure to place it where it would normally go (this could be improved)
            dropdownMenu.css({
                'display': 'block',
                'top': eOffset.top + $(e.target).outerHeight(),
                'left': eOffset.left
            });
        });

        // and when you hide it, reattach the drop down, and hide it normally
        $(window).on('hide.bs.dropdown', function (e) {
            $(e.target).append(dropdownMenu.detach());
            dropdownMenu.hide();
        });
    })();
    document.getElementById("defaultOpen").click();
</script>

<script>
    function request_mvs_simulation(elem, scen_id) {
        $.ajax({
            url: "{% url 'request_mvs_simulation' %}"+scen_id,
            success: function (data) {
                const itemState = elem.closest('tr').querySelector('.State');
                const itemProgress = elem.closest('tr').querySelector('.Progress');
                const itemRate = elem.closest('tr').querySelector('.rate');
                if (data['status'] && data['status'] === "DONE"){
                    const visualizeResultsElem = elem.closest('ul').querySelector('a[name="visualizeResults"]');
                    visualizeResultsElem.style["display"] = "block";
                    itemRate.style["display"] = "block";
                }
                const floor = (divisor, mod) => Math.floor(data['secondsElapsed'] / divisor % mod);
                itemProgress.textContent = `${floor(86400, 1)}d ${floor(3600, 24)}h ${floor(60, 60)}m ${floor(1,60)}s`;
                itemState.textContent = data['status'];
            },
            error: (errors) => console.log(errors),
        });

    }

    function updateSimulationRating(elem, scen_id) {
        const selectedRating = elem.querySelector('input[name="rate"]:checked').value;
        $.ajax({
            headers: {'X-CSRFToken': '{{ csrf_token }}'},
            url: "{% url 'update_simulation_rating' %}",
            type: "POST",
            data: {"scen_id": scen_id, "user_rating": selectedRating},
            success: (data) => {},
            error: (errors) => console.log(errors),
        });
    }
</script>
{% endblock end_body_scripts %}
