{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}
    <div class="panel panel-default ">
        <div class="panel-heading"><h3 class="panel-title"><strong>Edit Project </strong></h3></div>
        <div class="panel-body">
            <form method="post">
                {% csrf_token %}
                <div class="form-group">
                    {{ project_form.name| as_crispy_field  }}
                    {{ project_form.description| as_crispy_field  }}
                    {{ project_form.country| as_crispy_field  }}
                    <div style="height:350px" id="mapid"></div>
                    <br />
                    <div class="form-row">
                        <div class="form-group col-md-4 mb-0">
                            {{ project_form.latitude|as_crispy_field }}
                        </div>
                        <div class="form-group col-md-4 mb-0">
                            {{ project_form.longitude|as_crispy_field }}
                        </div>
                        <div class="form-group col-md-4 mb-0">
                            {{ economic_data_form.duration|as_crispy_field }}
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-4 mb-0">
                            {{ economic_data_form.currency|as_crispy_field }}
                        </div>
                        <div class="form-group col-md-4 mb-0">
                            {{ economic_data_form.discount|as_crispy_field }}
                        </div>
                        <div class="form-group col-md-4 mb-0">
                            {{ economic_data_form.tax|as_crispy_field }}
                        </div>
                    </div>
                </div>

                <button class="btn btn-success" type="submit">Submit</button>
            </form>
        </div>
    </div>


    {% if messages %}
        {% for message in messages %}
            {% if message.level == DEFAULT_MESSAGE_LEVELS.INFO %}
                <div class="alert alert-info">
                    <strong>Info: </strong>{{ message }}
                </div>
            {% endif %}

            {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                <div class="alert alert-danger">
                    <strong>Error: </strong>{{ message }}
                </div>
            {% endif %}

            {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
                <div class="alert alert-success">
                    <strong>Success: </strong>{{ message }}
                </div>
            {% endif %}
        {% endfor %}
    {% endif %}


<script>
        /* Map Show and Latitude-Longitude data autofill */
        var lat = document.getElementById("id_latitude").value
        var lon = document.getElementById("id_longitude").value
        var mymap = L.map('mapid').setView([lat, lon], 4);

        L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token={accessToken}', {
            attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, <a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
            maxZoom: 18,
            id: 'mapbox/streets-v11',
            tileSize: 512,
            zoomOffset: -1,
            accessToken: 'pk.eyJ1IjoidmFsa2FsYWlzIiwiYSI6ImNrZGhpZ29peTFnMjIycG5ybWR3aG4yeHIifQ.L4y4PQjkIdO1c7pvzOr2kw'
        }).addTo(mymap);

        var popup = L.popup();
        function onMapClick(e) {
            popup.setLatLng(e.latlng)
            .setContent("Location " + e.latlng.toString()).openOn(mymap);
            $('#id_latitude').val(e.latlng.lat.toFixed(6));
            $('#id_longitude').val(e.latlng.lng.toFixed(6));
        }
        mymap.on('click', onMapClick);
    </script>

{% endblock %}
