{% extends 'base.html' %}

{% load static %}
{% block head_block %}
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css" crossorigin=""
          integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="/>
    <link rel="stylesheet" href="{% static 'css/map.css' %}" type="text/css">
{% endblock head_block %}

{% block start_body_scripts %}
    <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js" crossorigin=""
            integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew==">
    </script>
{% endblock %}

{% block title %}Projects{% endblock title %}

{% block content %}
    <!-- <div class="container5"> -->
    <style>
        td#colname {
            max-width: 100px;
        }

        @media screen and (max-width: 1900px) {
            .btn-success {
                margin-top: 4rem;
                margin-left: -35rem;

            }

            .btn-danger {
                margin-top: 4rem;
                margin-left: -25rem;

            }

            .btn-info {
                margin-top: 4rem;
                margin-left: -15rem;

            }

            .btn-default {
                margin-top: 4rem;
                margin-left: -5rem;

            }

            #listtitle {
                margin: 5% auto;
            }

        }

        @media screen and (max-width: 991px){
            td#colname, td#colname2, td#colname3 {
                max-width: 130px !important;
                overflow: hidden;
                white-space:nowrap;
                text-overflow: ellipsis;
                font-size: 90%;
            }
        }

        @media screen and (max-width: 1199px) and (min-width: 768px) {
            #list6 {
                font-size: 10px;
            }

            #list5 {
                left: -5%;
            }

            #box2 {
                min-width: 50% !important;
            }
        }

        @media screen and (max-width: 767px) {
            #box2 {
                min-width: 100% !important;
            }

            .mapp {
                height: 300px !important;
                border-right: none;
                border-bottom: 6px solid #967b65;;
            }
             td#colname, td#colname2, td#colname3, td#colname4{
                font-size: 80%;
            }
        }

    </style>
    <div class="backg">

        <br>
        <div class="row">

            <div class="col-sm-10" id="createproj">
                <div class="input-panel">
                    <a href="{% url 'project_create' %}" class="btn btn-primary btn-lg" id="button55"
                       role="button"><span class="glyphicon glyphicon-plus-sign"></span> Create New
                        Project</a>
                </div>
            </div>


            <div class="col-sm-1"></div>
        </div>
        <br>

        <br>
        <div class="container5">

            <!--   <div class="col-sm-7"> -->

            <!-- <div id="project_map"> -->

            <!--   </div> -->
            <!--  </div> -->
            <div class="row">
                <div class="col-sm-5">
                    <div id="project_map" class="mapp"></div>
                </div>
                <div class="col-sm-7" id="box1">
                    <div class="panel panel-default" id="box2">
                        <br>
                        <div class="panel-heading"><h3 class="panel-title" id="listtitle"><strong>Project List </strong>
                        </h3></div>
                        <br>
                        <div class="panel-body" id="list5">
                            <div class="table-responsive">
                                <table class="table table-striped">
                                    <thead class="thead-dark">
                                    <tr>
                                        <th>#ID</th>

                                        <th>Project Name</th>


                                        <th>Date Created</th>
                                        <th>Last Modified</th>
                                        <th>Country</th>
                                    </tr>
                                    </thead>
                                    <tbody>

                                    {% for project in project_list %}
                                        <tr id="list6">
                                            <th scope="row">{{ forloop.counter }}</th>
                                            <td id="colname">{{ project.name }}</td>
                                            <td id="colname2">{{ project.date_created }}</td>
                                            <td id="colname3">{{ project.date_updated }}</td>
                                            <td id="colname4">{{ project.country }}</td>
                                            <td>

                                                <div class="buttons">
                                                    <form style="float: left;" class="form"
                                                          action="{% url 'scenario_search' project.pk %}"
                                                          method="GET">
                                                        <input class="btn btn-sm btn-success" type="submit"
                                                               value="Open"/>&emsp;
                                                    </form>
                                                    <form style="float: left;" class="form"
                                                          action="{% url 'project_detail' project.pk %}"
                                                          method="GET">
                                                        <input class="btn btn-sm btn-info" type="submit" value="Show"/>&emsp;
                                                    </form>
                                                    <form style="float: left;" class="form"
                                                          action="{% url 'project_update' project.pk %}"
                                                          method="GET">
                                                        <input class="btn btn-sm btn-default" type="submit"
                                                               value="Edit"/>&emsp;
                                                    </form>
                                                    <form style="float: left;" class="form"
                                                          action="{% url 'project_delete' project.pk %}"
                                                          method="POST">
                                                        {% csrf_token %}
                                                        <input class="btn btn-sm btn-danger" type="submit"
                                                               value="Delete"
                                                               onclick="return confirm('Are you sure you want to delete?' + '\n' +
                             'This will also delete all related project data.')"/>
                                                    </form>
                                                </div>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>


                    <!--   <div id="project_map"></div>

                <script>

                    var mymap = L.map('project_map').setView([51.505, -0.09], 13);
                    var markerList = [];

                    L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token={accessToken}', {
                        attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, <a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
                        maxZoom: 18,
                        id: 'mapbox/streets-v11',
                        tileSize: 512,
                        zoomOffset: -1,
                        accessToken: 'pk.eyJ1IjoidmFsa2FsYWlzIiwiYSI6ImNrZGhpZ29peTFnMjIycG5ybWR3aG4yeHIifQ.L4y4PQjkIdO1c7pvzOr2kw'
                    }).addTo(mymap);

                    {% for project in project_list %}

                        var marker = L.marker([{{project.latitude}}, {{project.longitude}}]).addTo(mymap);
                        marker.bindPopup("<b>Name: {{project.name}}</b><br>Country: {{project.country}}<br>Latitude:
                    {{project.latitude}}<br>Longitude: {{project.longitude}}").openPopup();
                        markerList.push(marker);
                    {% endfor %}

                    var group = new L.featureGroup(markerList);
                    mymap.fitBounds(group.getBounds().pad(0.5));

                </script> !-->
                </div>
                <!--  <div class="col-sm-1"></div> -->

                <div class="col-sm-2">
                    <!--   <div class="colorss">
                           <img src="/static/images/pic3.jpg"
                                style="width: 100%; height: 100%; opacity: 0.5; object-fit: cover; "/>
                       </div> -->
                </div>
            </div>
        </div>

    </div>

    <br>
    <br>

    <script>

        var mymap = L.map('project_map').setView([51.505, -0.09], 13);
        var markerList = [];

        L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token={accessToken}', {
            attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, <a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
            maxZoom: 8,
            minZoom: 2,
            id: 'mapbox/streets-v11',
            tileSize: 512,
            zoomOffset: -1,
            accessToken: 'pk.eyJ1IjoidmFsa2FsYWlzIiwiYSI6ImNrZGhpZ29peTFnMjIycG5ybWR3aG4yeHIifQ.L4y4PQjkIdO1c7pvzOr2kw'
        }).addTo(mymap);

        {% for project in project_list %}

            var marker = L.marker([{{project.latitude}}, {{project.longitude}}]).addTo(mymap);
            marker.bindPopup("<b>Name: {{project.name}}</b><br>Country: {{project.country}}<br>Latitude: {{project.latitude}}<br>Longitude: {{project.longitude}}").openPopup();
            markerList.push(marker);
        {% endfor %}

        var group = new L.featureGroup(markerList);
        mymap.fitBounds(group.getBounds().pad(0.5));

    </script>

{% endblock content %}
