{% extends 'base.html' %}

{% block title %}Projects{% endblock title %}

{% block content %}

    {% if messages %}
        {% for message in messages %}
            {% if message.level == DEFAULT_MESSAGE_LEVELS.INFO %}
                <div class="alert alert-info">
                    <strong>Success: </strong>{{ message }}
                </div>
            {% endif %}

            {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                <div class="alert alert-danger">
                    <strong>Success: </strong>{{ message }}
                </div>
            {% endif %}

            {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
                <div class="alert alert-success">
                    <strong>Success: </strong>{{ message }}
                </div>
            {% endif %}
        {% endfor %}
    {% endif %}

    <div class="input-panel" >
        <a href="{% url 'project_create' %}" class="btn btn-primary btn-lg" role="button">Create New Project</a>
    </div>

    <div class="panel panel-default ">
        <div class="panel-heading"><h3 class="panel-title"><strong>Project List </strong></h3></div>
        <div class="panel-body">
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead class="thead-dark">
                    <tr>
                        <th>#ID</th>
                        <th>Project Name</th>
                        <th>Date Created</th>
                        <th>Last Modified</th>
                        <th>Country</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for project in project_list %}
                        <tr>
                            <th scope="row">{{ forloop.counter }}</th>
                            <td>{{ project.name }}</td>
                            <td>{{ project.date_created }}</td>
                            <td>{{ project.date_updated }}</td>
                            <td>{{ project.country }}</td>
                            <td>
                                <form style="float: left;" class="form" action="{% url 'project_detail' project.pk %}"
                                      method="GET">
                                    <input class="btn btn-sm btn-info" type="submit" value="Show"/>&emsp;
                                </form>
                                <form style="float: left;" class="form" action="{% url 'project_update' project.pk %}"
                                      method="GET">
                                    <input class="btn btn-sm btn-default" type="submit" value="Edit"/>&emsp;
                                </form>
                                <form style="float: left;" class="form" action="{% url 'project_delete' project.pk %}"
                                      method="POST">
                                    {% csrf_token %}
                                    <input class="btn btn-sm btn-danger" type="submit" value="Delete"
                                           onclick="return confirm('Are you sure you want to delete?' + '\n' +
                             'This will also delete all related project data.')"/>
                                </form>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>


    <div id="project_map"></div>

    <script>

        var mymap = L.map('project_map').setView([51.505, -0.09], 13);
        var markerList = [];

        L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token={accessToken}', {
            attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, <a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
            maxZoom: 18,
            id: 'mapbox/streets-v11',
            tileSize: 512,
            zoomOffset: -1,
            accessToken: 'pk.eyJ1IjoidmFsa2FsYWlzIiwiYSI6ImNrZGhpZ29peTFnMjIycG5ybWR3aG4yeHIifQ.L4y4PQjkIdO1c7pvzOr2kw'
        }).addTo(mymap);

        {% for project in project_list %}

            var marker = L.marker([{{project.latitude}}, {{project.longitude}}]).addTo(mymap);
            marker.bindPopup("<b>Name: {{project.name}}</b><br>Country: {{project.country}}<br>Latitude: {{project.latitude}}<br>Longitude: {{project.longitude}}").openPopup();
            markerList.push(marker);
        {% endfor %}

        var group = new L.featureGroup(markerList);
        mymap.fitBounds(group.getBounds().pad(0.5));

    </script>

{% endblock content %}