{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}


    <div class="progress-bar-wrapper"></div>

    <div class="panel panel-default ">
        <div class="panel-heading"><h3 class="panel-title"><strong>Create New Project </strong></h3></div>
        <div class="panel-body">
            <form method="post">
                {% csrf_token %}
                <div class="form-group">
                    {{ form.name| as_crispy_field  }}
                    {{ form.description| as_crispy_field  }}
                    {{ form.country| as_crispy_field  }}
                    <div style="height:330px;" id="mapid"></div>
                    <br />
                    <div class="form-row">
                        <div class="form-group col-md-4 mb-0">
                            {{ form.latitude|as_crispy_field }}
                        </div>
                        <div class="form-group col-md-4 mb-0">
                            {{ form.longitude|as_crispy_field }}
                        </div>
                        <div class="form-group col-md-4 mb-0">
                            {{ form.duration|as_crispy_field }}
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-4 mb-0">
                            {{ form.currency|as_crispy_field }}
                        </div>
                        <div class="form-group col-md-4 mb-0">
                            {{ form.discount|as_crispy_field }}
                        </div>
                        <div class="form-group col-md-4 mb-0">
                            {{ form.tax|as_crispy_field }}
                        </div>
                    </div>
                    <div class = "container">
                        <div class="row">
                            <div class="col-sm-5">
                                {{ form.electricity| as_crispy_field  }}
                                {{ form.heat| as_crispy_field  }}
                                {{ form.gas| as_crispy_field  }}
                            </div>
                            <div class="col-sm-5">
                                {{ form.h2| as_crispy_field  }}
                                {{ form.mobility| as_crispy_field  }}
                            </div>
                        </div>
                    </div>
                </div>
                <button class="btn btn-success" type="submit">Submit</button>
            </form>
        </div>
    </div>

    <script>
        /* Map Show and Latitude-Longitude data autofill */
        var mymap = L.map('mapid').setView([49.45, 13.89], 4);

        L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token={accessToken}', {
            attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, <a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
            maxZoom: 18,
            id: 'mapbox/streets-v11',
            tileSize: 512,
            zoomOffset: -1,
            accessToken: 'pk.eyJ1IjoidmFsa2FsYWlzIiwiYSI6ImNrZGhpZ29peTFnMjIycG5ybWR3aG4yeHIifQ.L4y4PQjkIdO1c7pvzOr2kw'
        }).addTo(mymap);

        var popup = L.popup();
        function onMapClick(e) {
            popup.setLatLng(e.latlng)
            .setContent("Location " + e.latlng.toString()).openOn(mymap);
            $('#id_latitude').val(e.latlng.lat.toFixed(6));
            $('#id_longitude').val(e.latlng.lng.toFixed(6));
        }
        mymap.on('click', onMapClick);
    </script>

    <script>
        //we can set animation delay as following in ms (default 1000)
        ProgressBar.singleStepAnimation = 500;
        ProgressBar.init(
            ['Create Project',
            'Add Comments',
                'Create Scenario',
                'Add Assets',
                'Run Simulation',
            ],
            '',
            'progress-bar-wrapper' // created this optional parameter for container name (otherwise default container created)
        );
    </script>

{% endblock %}